<!-- Website main template structure -->
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Time-Table Generator</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Bhathiya Kariyawasam">
    <meta name="keywords" content="Automated Time Table Generator">
    <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.png' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.12.1/css/all.css">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
    <!-- Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/datepicker/daterangepicker.css' %}" media="all">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
    <!-- Main CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
</head>

<body>
    {% block jquery %}
    <!-- Jquery JS-->
    <script type="text/javascript" src="{% static 'vendor/jquery/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/bootstrap/js/popper.min.js' %}"></script>
    <!-- Vendor JS-->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
    <script src="{% static 'vendor/select2/select2.min.js' %}"></script>
    <script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
    <script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
    <!-- Chart.js Plugins -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" />
    <!-- jsPDF & AutoTable js plugins -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.3/jspdf.plugin.autotable.min.js"></script>
    <!-- Main JS-->
    <script src="{% static 'js/global.js' %}"></script>
    {% endblock jquery %} {% block content %} {% endblock content %}
</body>
<div id="se-pre-con"></div>

</html>