/* ==========================================================================
   #Pre-loaders
   ========================================================================== */

#se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/Preloader.gif) center no-repeat #fff;
    display: block;
    transition: all 1s;
}


/* ==========================================================================
   #FONT
   ========================================================================== */

.font-robo {
    font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
}

.font-poppins {
    font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
}

.font-opensans {
    font-family: "Open Sans";
}

.font-opensans-light {
    font-family: "Open Sans";
    font-weight: 300;
}

@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url('../fonts/montserrat/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: Montserrat-Regular;
    src: url('../fonts/montserrat/Montserrat-Regular.ttf');
}


/* ==================================================================
    # Common styles 
    ================================================================= */

.bg-default {
    background: #3B5998;
    color: #fff;
}

.row {
    margin: 0 !important;
}

.form-group {
    margin-bottom: 0.5rem;
}

.non-padding-cols {
    padding: 0 !important;
}

.right-padding-zero-cols {
    padding-right: 0 !important;
    padding-left: 20px !important;
}

.left-padding-zero-cols {
    padding-right: 20px !important;
    padding-left: 0 !important;
}

.custom-padding-cols {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.custom-right-padding-cols {
    padding-right: 0 !important;
    padding-left: 10px !important;
}

.custom-left-padding-cols {
    padding-right: 10px !important;
    padding-left: 0 !important;
}

#main-panel {
    background-color: rgba(0, 0, 0, 0.035);
}

.section-div {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
}

.horizontal-divider-common {
    border-top: 2px solid rgba(94, 135, 224, 0.781);
}

.table {
    margin-bottom: 0;
}

.section-table th,
.section-table td {
    border: 1px solid rgb(197, 197, 197) !important;
    vertical-align: middle;
    font-family: "Open Sans";
}

.section-table thead {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.06);
}

.section-table th {
    font-weight: 600;
    font-size: 14px;
}

.section-table td {
    font-size: 13px;
}

h5 {
    font-size: 1.05rem;
}

.modal-header .close {
    line-height: 0.7;
    margin: -0.9rem -1rem -1rem auto;
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    transform: translate(0);
}

.user_role_alert {
    font-size: 14px;
}


/* ==================================================================
    # Side Panel Styles
    ================================================================= */

#side-panel {
    background: #3B5998;
    height: 100vh;
    padding: 1.5rem 1rem;
}

.profile-img-div,
.signout-btn-div,
.signin-btn-div {
    text-align: center;
}

.profile-img-div img {
    width: 60%;
    margin: 0 auto 10px;
    border-radius: 50%;
}

.welcome-text {
    font-family: Open Sans;
    font-weight: 300;
    font-size: 0.85em;
    color: #dccccc;
}

.username {
    font-family: "Open Sans";
    font-weight: 500;
    color: #fff;
    font-size: 1.22em;
}

.signout-btn-div,
.signin-btn-div {
    margin-top: 20px;
}

.signout-btn-div a {
    background: #FF4B5A;
    color: #fff;
    font-family: "Open Sans";
    transition: 0.2s;
}

.signin-btn-div a {
    background: #0fb42b;
    color: #fff;
    font-family: "Open Sans";
    transition: 0.2s;
}

.signout-btn-div a:hover,
.signin-btn-div a:hover {
    mix-blend-mode: normal;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
}

.menu-links-div {
    height: 55vh;
    overflow-y: auto;
}

.menu-links {
    list-style: none;
    text-align: left;
    padding: 0;
}

.menu-links li {
    line-height: 30px;
    padding: 0 20px;
    margin-bottom: 10px;
    border-radius: 7px;
    transition: 0.2s;
}

.menu-links a {
    color: rgba(255, 255, 255, 0.7);
    font-family: "Open Sans";
    letter-spacing: 0.5px;
    font-size: 13.5px;
    outline: none;
    border: none;
}

.menu-links li:hover {
    /* padding-left: 25px; */
    background: #5c86e0;
    /* border-left: 7px solid #fff; */
}

.menu-links li:hover a {
    text-decoration: none;
    color: #fff;
}

.dropdown-btn {
    text-decoration: none;
    font-size: 13.5px;
    font-family: "Open Sans";
    letter-spacing: 0.5px;
    color: rgba(255, 255, 255, 0.7);
    display: block;
    border: 0;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: 0;
    line-height: 35px;
    padding: 0 20px;
    margin-bottom: 10px;
    border-radius: 7px;
    transition: 0.2s;
}

.dropdown-btn:hover {
    background: rgba(94, 135, 224, 0.4);
    color: white;
}

.dropdown-container {
    display: none;
    border-radius: 7px;
    margin-bottom: 15px;
    background-color: #fff;
    padding: 5px;
    transition: 0.2s ease-in-out;
}

.dropdown-container li {
    line-height: 26px;
    padding: 0 20px;
    margin: 3px;
    border-radius: 7px;
    transition: 0.2s;
}

.dropdown-container li a {
    color: black;
    font-size: 12.5px;
    transition: 0.2s;
}

.dropdown-container li:hover a {
    color: #fff;
}

.active {
    background: rgba(94, 135, 224, 0.4);
    color: white;
}

.active-link {
    background: rgba(94, 135, 224, 0.6);
}

.active-link a {
    color: #fff;
}

.light-divider {
    background: rgba(228, 219, 219, 0.521);
}


/* ==================================================================
    # Main Panel Styles
    ================================================================= */

#main-panel {
    height: 100vh;
    overflow-y: auto;
    padding: 0;
}

.main-panel-title {
    background: #fff;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.15);
    z-index: 9999;
    overflow: hidden;
}

.main-panel-title h4 {
    font-family: "Open Sans";
    font-weight: 700;
    margin-bottom: 0rem;
}

label {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 14px;
}

.section-div form .submit_btn {
    background: #3B5998;
    color: #fff;
    font-family: "Open Sans";
    font-weight: 600;
    transition: 0.2s;
    font-size: 14px;
}

.modal-header,
.custom-modal-footer {
    background: rgb(224, 235, 245);
}

.custom-modal-footer {
    border-top: 1px solid rgb(223, 224, 224);
    border-radius: 0 0 6px 6px;
}

.custom-modal-footer .delete-btn {
    font-size: 13px;
    background: rgba(224, 58, 58, 0.521);
    transition: 0.2s;
}

.custom-modal-footer .delete-btn:hover {
    background: rgb(224, 58, 58);
    color: #fff;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
}

.section-div .option-btn,
.custom-modal-footer .option-btn {
    font-size: 13px;
    background: rgba(59, 88, 152, 0.35);
    transition: 0.2s;
}

.section-div .option-btn:hover,
.custom-modal-footer .option-btn:hover {
    background: #3B5998;
    color: #fff;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
}

.section-div form .submit_btn:hover {
    mix-blend-mode: normal;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
}

.messages {
    margin: 0;
    padding: 0;
}

.alert {
    margin: 0;
    font-family: 'Open Sans';
}


/* ==================================================================
    # Dashboard Page Styles
    ================================================================= */

.dashboard_content_div {
    border-radius: 10px;
    transition: 0.3s all;
}

.dashboard_content_div:hover {
    box-shadow: 1px 4px 6px 1px rgba(0, 0, 0, 0.35);
}

.dashboard_content_div h5 {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 600;
    letter-spacing: 1px;
}

#dashboard_content_div_1,
#dashboard_content_div_2,
#dashboard_content_div_3,
#dashboard_content_div_4 {
    overflow: hidden;
    position: relative;
}

#dashboard_content_div_1:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 40%;
    top: 10%;
    width: 75%;
    height: 100%;
    z-index: 1;
    opacity: 0.20;
    background-image: url('../images/teacher.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

#dashboard_content_div_2:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 50%;
    top: 0%;
    width: 72%;
    height: 100%;
    z-index: 1;
    opacity: 0.20;
    background-image: url('../images/service.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

#dashboard_content_div_3:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 50%;
    top: 0%;
    width: 75%;
    height: 100%;
    z-index: 1;
    opacity: 0.20;
    background-image: url('../images/book.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

#dashboard_content_div_4:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 50%;
    top: 10%;
    width: 60%;
    height: 100%;
    z-index: 1;
    opacity: 0.20;
    background-image: url('../images/team.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}


/* #pie-chart-div {} */

#dashboard-profiles-div {
    height: 70vh;
    overflow-y: scroll;
    padding: 15px 12px 10px 5px;
}

.dashboard-profie-imgs {
    border-radius: 50%;
}

.dashboard-profie-data h6 {
    font-size: 15.5px;
    margin-bottom: 0;
    font-family: "Open Sans";
}

.dashboard-prof-div {
    padding: 10px 1rem;
    box-shadow: 1px 3px 10px 1px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin-bottom: 15px !important;
}

.special-badge {
    font-weight: 500;
    padding: 0.37em 0.6em;
}


/* ==================================================================
    # Schedule Page Styles
    ================================================================= */

.table-section {
    background-color: rgb(243, 236, 236);
}

.result-icon {
    color: #3B5998;
    text-align: center;
}

.result_text {
    font-family: 'Open Sans';
}

.result_lec_name {
    font-weight: 600;
}

#schedule-table thead {
    background: rgba(0, 0, 0, 0.06) !important;
}

#schedule-table thead th {
    font-family: "Open Sans" !important;
    font-weight: 600 !important;
    font-size: 14px;
}

#schedule-table tbody td {
    font-size: 14px;
    font-family: "Open Sans";
}

#save-success-msg,
#save-error-msg {
    display: none;
}


/* ==================================================================
    # Profile Page styles 
    ================================================================= */

#profile-section img {
    width: 100%;
    border-radius: 7px;
}

.profile_image input {
    display: none;
}

.profile_image img {
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.profile_image img:hover {
    opacity: 0.7;
}

.profile_image_bottom_div {
    background: rgb(235, 228, 228);
    /* margin: 0 2px; */
    border-radius: 7px;
}

.generated-result {
    font-size: 15px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    background: rgba(0, 0, 0, 0.04);
}


/* ==================================================================
    # Settings Page styles 
    ================================================================= */

.help-div {
    height: 50vh;
    overflow-y: auto;
}

.setting-appearance-option-titles {
    font-family: "Open Sans";
    font-weight: 600;
    margin-bottom: .5rem;
}

.custom-control label {
    font-weight: 500;
}

.panel-color-div {
    display: inline-flex;
}

.side-panel-color-circle {
    width: 50px;
    height: 25px;
    border-radius: 6px;
    text-align: center;
    padding-top: 3px;
}

#circle-select-check {
    color: #fff;
    display: none;
}

.active-color-circle #circle-select-check {
    display: block;
}

.side-panel-color-circle:hover {
    cursor: pointer;
}

#color-circle1 {
    background-color: #3B5998;
}

#color-circle2 {
    background-color: #ad0057;
}

#color-circle3 {
    background-color: #07864b;
}

#color-circle4 {
    background-color: #5428a5;
}

.external-color-circle {
    border: 4px solid transparent;
    border-radius: 10px;
    padding: 1px;
    margin-right: 10px;
}

.active-color-circle {
    border-color: rgb(20, 230, 73);
}