{% extends 'base.html' %} {% block content %} {% load static %}

<section>
    <div class="row">
        <div class="col-2 mh-100" id="side-panel">
            {% if user.is_authenticated %}
            <div class="profile-img-div fluid">
                {% if profile_photo %} {% for photo in profile_photo %}
                <img src="../media/{{photo.user_profile_img}}" alt="Your Profile Image"> {% endfor %} {% else %}
                <img src="{% static 'images/profile.jpg' %}" alt="Profile Image"> {% endif %}
                <p class="welcome-text pb-0 mb-0">Hi, welcome back!</p>
                <p class="username">{{user.user_title}}. {{user.first_name}}</p>
            </div>
            <div class="signout-btn-div fluid">
                <a href="logout" class="btn btn-sm"><i class="fal fa-power-off"></i>&nbsp Log out</a>
            </div>
            {% else %}
            <div class="profile-img-div fluid">
                <img src="{% static 'images/profile.jpg' %}" alt="Profile Image">
                <p class="welcome-text pb-0 mb-0">Please log in to continue.</p>
            </div>
            <div class="signin-btn-div fluid">
                <a href="/" class="btn btn-sm"><i class="fal fa-sign-in-alt"></i>&nbsp Log in</a>
            </div>
            {% endif %}
            <br>
            <hr>
            <ul class="menu-links">
                {% if user.is_authenticated %}
                <li><a href="../home"><i class="fal fa-home-lg-alt"></i>&nbsp&nbsp Home</a></li>
                {% if user.is_superuser %}
                <button class="dropdown-btn active-link"><i class="fal fa-sliders-h"></i>&nbsp&nbsp Manage<span class="float-right"><i class="fal fa-chevron-down"></i></span></button>
                <div class="dropdown-container">
                    <li class="active-link">&nbsp;<a href="."><i class="fal fa-building fa-lg"></i>&nbsp;&nbsp; Lecture Halls</a></li>
                    <li><a href="../subject">&nbsp;<i class="fal fa-book fa-lg"></i>&nbsp;&nbsp; Subjects</a></li>
                    <li><a href="../users"><i class="fal fa-users fa-lg"></i>&nbsp;&nbsp; Lecturers</a></li class="active-link">
                </div>
                {% endif %}
                <li><a href="../profile"><i class="fal fa-user-alt"></i>&nbsp&nbsp My Account</a></li>
                {% endif %}
                <li><a href="../help"><i class="fal fa-question-circle"></i>&nbsp&nbsp Help</a></li>
            </ul>
        </div>
        <div class="col-10 py-5 px-5" id="main-panel">
            <div class="main-panel-title">
                <div class="row justify-content-between">
                    <div class="col-4">
                        <h4>Lecture Halls</h4>
                        <small class="text-muted">Manage added lecture halls</small>
                    </div>
                    <div class="col-3 text-center right-padding-zero-cols">
                        {% if user.is_authenticated %}
                        <div class="alert alert-info mb-4">
                            {% if user.is_superuser %}
                            <strong>Your Role : ADMIN </strong> {% else %}
                            <strong>Your Role : GUEST </strong> {% endif %}
                        </div>
                        {% else %}
                        <div class="alert alert-danger mb-4">
                            Please log in to continue
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="section-div container p-4 mb-5">
                {% if messages %}
                <ul class="messages mb-4">
                    {% for message in messages %} {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert {{message.tags}} alert-dismissable" role="alert" style="font-size: 13.5px; font-family: 'Open Sans';">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                        <i class="far fa-check-circle fa-lg"></i>&nbsp; <b>{{message}}</b>
                    </div>
                    {% else %}
                    <div class="alert {{message.tags}} alert-dismissable" role="alert" style="font-size: 13.5px; font-family: 'Open Sans';">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                        <i class="far fa-times-circle fa-lg"></i>&nbsp; <b>{{message}}</b>
                    </div>
                    {% endif %} {% endfor%}
                </ul>
                {% endif %} {% if user.is_authenticated %}
                <div class="section-sub-title font-opensans">
                    <h6><b>Add New Lecture Hall</b></h6>
                </div>
                <div class="horizontal-divider-common mt-3 mb-4"></div>
                <form action="." method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-4 left-padding-zero-cols">
                            <div class="form-group">
                                <label for="exampleInputName">Hall Number</label>{{hall_form.hall_number}}
                            </div>
                        </div>
                        <div class="col-md-8 non-padding-cols">
                            <div class="form-group">
                                <label for="exampleInputName">Hall Name</label>{{hall_form.hall_name}}
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="save-btn-div text-right">
                        <input type="submit" class="btn px-4 submit_btn" value="Add Lecture Hall" name="hall_add_btn">
                    </div>
                </form>
                {% else %}
                <div class="error-msg-div my-5 text-center">
                    <p class="text-danger mb-4"><i class="fal fa-exclamation-triangle fa-5x"></i></p>
                    <p class="text-danger font-opensans">You are not logged in. Please log in <a href="/">here</a>.</p>
                </div>
                {% endif %}
            </div>

            {% if user.is_authenticated %}
            <div class="section-div container p-4 mb-5">
                <div class="section-sub-title font-opensans">
                    <h6><b>Subjects List</b></h6>
                </div>
                <div class="horizontal-divider-common mt-3 mb-4"></div>
                <div class="section-list-table">
                    {% if halls_data %}
                    <table class="table table-sm font-opensans" id="section-table" style="background-color: rgba(0,0,0,0.025);">
                        <thead>
                            <tr>
                                <th scope="col">Hall Number</th>
                                <th scope="col">Name</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for hall in halls_data %}
                            <tr>
                                <th style="font-weight: 400;">{{hall.hall_number}}</th>
                                <td>{{hall.hall_name}}</td>
                                <td class="text-center">
                                    <form action="." method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="hall_code" value="{{hall.id}}">
                                        <input type="submit" class="btn btn-sm btn-outline-danger" value="Delete" name="hall_delete_btn" style="font-size: 12px;">
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <div class="text-danger">
                        <i class="fal fa-frown fa-lg"></i>&nbsp; No lecture hall found!
                    </div> {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>

{% endblock content %}