{% extends 'base.html' %} {% block content %} {% load static %}

<section>
    <div class="row">
        <div class="col-2 mh-100" id="side-panel">
            {% if user.is_authenticated %}
            <div class="profile-img-div fluid">
                {% if profile_photo %} {% for photo in profile_photo %}
                <img src="../media/{{photo.user_profile_img}}" alt="Your Profile Image"> {% endfor %} {% else %}
                <img src="{% static 'images/profile.jpg' %}" alt="Profile Image"> {% endif %}
                <p class="welcome-text pb-0 mb-0">Hi, welcome back!</p>
                <p class="username">{{user.user_title}}. {{user.first_name}}</p>
            </div>
            <div class="signout-btn-div fluid mb-4">
                <a href="../logout" class="btn btn-sm"><i class="fal fa-power-off"></i>&nbsp Log out</a>
            </div>
            {% else %}
            <div class="profile-img-div fluid">
                <img src="{% static 'images/profile.jpg' %}" alt="Profile Image">
                <p class="welcome-text pb-0 mb-0">Please log in to continue.</p>
            </div>
            <div class="signin-btn-div fluid mb-4">
                <a href="/" class="btn btn-sm"><i class="fal fa-sign-in-alt"></i>&nbsp Log in</a>
            </div>
            {% endif %}
            <hr class="light-divider">
            <ul class="menu-links">
                {% if user.is_authenticated %}
                <li><a href="../dashboard"><i class="fal fa-tachometer-alt-fast"></i>&nbsp&nbsp Dashboard</a></li>
                <li><a href="../schedule"><i class="fal fa-calendar-alt"></i>&nbsp&nbsp Schedule</a></li>
                {% if user.is_superuser %}
                <button class="dropdown-btn active-link"><i class="fal fa-sliders-h"></i>&nbsp&nbsp Manage<span class="float-right"><i class="fal fa-chevron-down"></i></span></button>
                <div class="dropdown-container">
                    <li class="active-link">&nbsp;<a href="."><i class="fal fa-building fa-lg"></i>&nbsp;&nbsp; Lecture Halls</a></li>
                    <li><a href="../subject">&nbsp;<i class="fal fa-book fa-lg"></i>&nbsp;&nbsp; Subjects</a></li>
                    <li><a href="../users"><i class="fal fa-users fa-lg"></i>&nbsp;&nbsp; Users</a></li class="active-link">
                </div>
                {% endif %}
                <li><a href="../profile"><i class="fal fa-user-alt"></i>&nbsp&nbsp My Account</a></li>
                {% endif %}
                <li><a href="../settings"><i class="fal fa-wrench"></i>&nbsp&nbsp Settings</a></li>
            </ul>
        </div>
        <div class="col-10" id="main-panel">
            <div class="main-panel-title py-3 pl-4 pr-3">
                <div class="row justify-content-between">
                    <div class="col-4 non-padding-cols">
                        <h4>Halls & Batches</h4>
                        <small class="text-muted">Manage added lecture halls and batch details</small>
                    </div>
                    <div class="col-2 text-center right-padding-zero-cols">
                        {% if user.is_authenticated %}
                        <div class="alert alert-info px-0 mt-1 user_role_alert">
                            {% if user.is_superuser %}
                            <strong>Your Role : ADMIN </strong> {% else %}
                            <strong>Your Role : GUEST </strong> {% endif %}
                        </div>
                        {% else %}
                        <div class="alert alert-danger px-0 mt-1 user_role_alert">
                            Please log in to continue
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="main-panel-content px-5 py-4">
                <div class="section-div container p-4 mb-4">
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %} {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <div class="alert {{message.tags}} alert-dismissable mb-4" role="alert" style="font-size: 13.5px; font-family: 'Open Sans';">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                            <i class="far fa-check-circle fa-lg"></i>&nbsp; <b>{{message}}</b>
                        </div>
                        {% else %}
                        <div class="alert {{message.tags}} alert-dismissable mb-4" role="alert" style="font-size: 13.5px; font-family: 'Open Sans';">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                            <i class="far fa-times-circle fa-lg"></i>&nbsp; <b>{{message}}</b>
                        </div>
                        {% endif %} {% endfor%}
                    </ul>
                    {% endif %} {% if user.is_authenticated %}
                    <div class="section-sub-title font-opensans">
                        <h6><b>Add New Lecture Hall</b></h6>
                    </div>
                    <div class="horizontal-divider-common mt-3 mb-4"></div>
                    <form action="." method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-4 left-padding-zero-cols">
                                <div class="form-group">
                                    <label for="exampleInputName">Hall Number</label>{{hall_form.hall_number}}
                                </div>
                            </div>
                            <div class="col-md-8 non-padding-cols">
                                <div class="form-group">
                                    <label for="exampleInputName">Hall Name</label>{{hall_form.hall_name}}
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="save-btn-div text-right">
                            <input type="submit" class="btn px-4 submit_btn" value="Add Lecture Hall" name="hall_add_btn">
                        </div>
                    </form>
                    {% else %}
                    <div class="error-msg-div my-5 text-center">
                        <p class="text-danger mb-4"><i class="fal fa-exclamation-triangle fa-5x"></i></p>
                        <p class="text-danger font-opensans">You are not logged in. Please log in <a href="/">here</a>.</p>
                    </div>
                    {% endif %}
                </div>

                {% if user.is_authenticated %}
                <div class="container non-padding-cols">
                    <div class="row">
                        <div class="col-md-7 left-padding-zero-cols">
                            <div class="section-div p-4 mb-2">
                                <div class="section-sub-title font-opensans">
                                    <h6><b>Lecture Hall List</b></h6>
                                </div>
                                <div class="horizontal-divider-common mt-3 mb-4"></div>
                                <div class="section-list-table ">
                                    {% if halls_data %}
                                    <table class="table table-sm font-opensans section-table" id="" style="background-color: rgba(0,0,0,0.025);">
                                        <thead>
                                            <tr>
                                                <th scope="col">Hall Number</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for hall in halls_data %}
                                            <tr>
                                                <th style="font-weight: 400;">{{hall.hall_number}}</th>
                                                <td>{{hall.hall_name}}</td>
                                                <td class="text-center">
                                                    <div class="row justify-content-center">
                                                        <div class="col-md-3 custom-left-padding-cols">
                                                            <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#hallEditModal{{hall.id}}" title="Edit lecture hall" style="font-size: 12px;"><i class="fad fa-marker fa-lg"></i></button>
                                                        </div>
                                                        <div class="col-md-3 custom-right-padding-cols">
                                                            <form action="." method="POST">
                                                                {% csrf_token %}
                                                                <input type="hidden" name="hall_code" value="{{hall.id}}">
                                                                <button type="submit" class="btn btn-sm btn-outline-danger" name="hall_delete_btn" title="Delete hall" style="font-size: 12px;" onclick="return confirm('Are you sure to delete this hall?');">
                                                                <i class="fad fa-trash-alt fa-lg"></i>
                                                            </button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <!--Lecture Halls Modal -->
                                            <div class="modal fade" id="hallEditModal{{hall.id}}" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="hallEditModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header px-4" style="background-color: #f2f2f2;">
                                                            <h5 class="modal-title font-opensans" id="subjectEditModalLabel">Edit Hall : <b style="color: #3B5998;">{{hall.hall_name}}</b></h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <i class="fal fa-times-circle text-danger"></i>
                                                        </button>
                                                        </div>
                                                        <div class="modal-body px-0 pb-0">
                                                            <form action="." method="POST">
                                                                {% csrf_token %}
                                                                <div class="row px-4 pb-3">
                                                                    <div class="col-12 non-padding-cols">
                                                                        <div class="form-group">
                                                                            <label>Hall Number</label>
                                                                            <input type="text" name="new_hall_number" value="{{hall.hall_number}}" class="form-control form-control-sm">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 non-padding-cols">
                                                                        <div class="form-group">
                                                                            <label>Hall Name</label>
                                                                            <input type="text" name="new_hall_name" value="{{hall.hall_name}}" class="form-control form-control-sm">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <input type="hidden" name="hall_code" value="{{hall.id}}">
                                                                <div class="text-right px-4 py-3" style="background-color: #f2f2f2;">
                                                                    <input type="submit" class="btn btn-success btn-sm" value="Save Changes" name="hall_edit_btn" style="font-family: 'Open Sans'; font-weight: 600;">
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    {% else %}
                                    <div class="text-danger text-center">
                                        <i class="fal fa-frown fa-lg"></i>&nbsp; No lecture hall found!
                                    </div> {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 right-padding-zero-cols">
                            <div class="section-div p-4 mb-2">
                                <div class="section-sub-title font-opensans">
                                    <h6><b>Batch Details</b></h6>
                                </div>
                                <div class="horizontal-divider-common mt-3 mb-4"></div>
                                <div class="section-list-table">
                                    {% if batch_data %}
                                    <table class="table table-sm font-opensans  section-table" id="" style="background-color: rgba(0,0,0,0.025);">
                                        <thead>
                                            <tr>
                                                <th scope="col">Batch</th>
                                                <th scope="col">No. of Students</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for batch in batch_data %}
                                            <tr>
                                                <th style="font-weight: 400;">{{batch.batch_no}}<sup>{{batch.batch_name_suffix}}</sup> Year</th>
                                                <td class="text-center">{{batch.no_of_students}}</td>
                                                <td class="text-center">
                                                    <button type="button" class="btn btn-sm btn-outline-primary" name="batch_edit_btn" data-toggle="modal" data-target="#batchEditModal{{batch.id}}" title="Edit batch details" style="font-size: 12px;"><i class="fad fa-marker fa-lg"></i></button>
                                                </td>
                                            </tr>
                                            <!--Batch Edit Modal -->
                                            <div class="modal fade" id="batchEditModal{{batch.id}}" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="hallEditModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header px-4" style="background-color: #f2f2f2;">
                                                            <h5 class="modal-title font-opensans" id="subjectEditModalLabel">Edit Batch</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <i class="fal fa-times-circle text-danger"></i>
                                                        </button>
                                                        </div>
                                                        <div class="modal-body px-0 pb-0">
                                                            <form action="." method="POST">
                                                                {% csrf_token %}
                                                                <div class="row px-4 pb-3">
                                                                    <div class="col-12 non-padding-cols">
                                                                        <div class="form-group row">
                                                                            <label class="col-3 non-padding-cols">Batch &nbsp;: </label>
                                                                            <h5 class="col-9 non-padding-cols font-opensans" style="color: #5c86e0; font-weight: 600;">{{batch.batch_no}}<sup>{{batch.batch_name_suffix}}</sup> Year</h5>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 non-padding-cols">
                                                                        <div class="form-group">
                                                                            <label>Number of Students</label>
                                                                            <input type="text" name="new_no_of_students" value="{{batch.no_of_students}}" class="form-control form-control-sm">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <input type="hidden" name="batch_code" value="{{batch.id}}">
                                                                <div class="text-right px-4 py-3" style="background-color: #f2f2f2;">
                                                                    <input type="submit" class="btn btn-success btn-sm" value="Save Changes" name="batch_edit_btn" style="font-family: 'Open Sans'; font-weight: 600;">
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    {% else %}
                                    <div class="text-danger text-center">
                                        <i class="fal fa-frown fa-lg"></i>&nbsp; No lecture hall found!
                                    </div> {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock content %}