{% extends 'base.html' %} {% block content %}{% load static %}
<section>
    <div class="row">
        <div class="col-2" id="side-panel">
            <div class="profile-img-div fluid">
                <img src="{% static 'images/profile.jpg' %}" alt="Profile Image">
                <p class="welcome-text pb-0 mb-0">Hi, welcome back!</p>
                {% if user.is_authenticated %}
                <p class="username">Mr. {{user.first_name}}</p>
                {% endif %}
            </div>
            <div class="signout-btn-div fluid">
                <a href="logout" class="btn btn-sm"><i class="fas fa-power-off"></i>&nbsp Log out</a>
            </div>
            <br>
            <hr>
            <br>
            <ul class="menu-links">
                <li><a href="."><i class="fas fa-home"></i>&nbsp&nbsp Home</a></li>
                <li><a href="#"><i class="fas fa-university"></i>&nbsp&nbsp Add New Hall</a></li>
                <li><a href="#"><i class="fas fa-user-plus"></i>&nbsp&nbsp Add New User</a></li>
                <li><a href="../profile"><i class="fas fa-user-alt"></i>&nbsp&nbsp My Account</a></li>
                <li><a href="#"><i class="fas fa-cog"></i>&nbsp&nbsp Settings</a></li>
            </ul>
        </div>
        <div class="col-10 py-5 px-5" id="main-panel">
            <div class="main-panel-title">
                <h4>Data Form</h4>
                <small class="text-muted">Fill below fields to generate time-table</small>
            </div>
            <br><br>
            <div class="section-div container px-5 py-5">
                <form action="./table/" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputName">Lecturer's Name</label> {{form.lecturer_name}}
                        <small id="nameHelp" class="form-text text-muted"><i>NOTE : Name with initials</i></small>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleSelect">Batch</label> {{form.batch}}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleSelect">Lecture Hall</label> {{form.hall}}
                            </div>
                        </div>
                        <div class="col-md-5">
                            <label for="exampleInputSubject">Subject</label> {{form.subject}}
                            <small id="subjectHelp" class="form-text text-muted"><i>NOTE : Subject code only</i></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="exampleInputStdNo">Number of Students</label> {{form.students}}
                        </div>
                    </div>
                    <br>
                    <br>
                    <input type="submit" class="btn px-4 submit_btn" value="Generate" /><span class="text-muted ml-3" style="font-size: 12px;">These data will never save on the database.</span>
                </form>
            </div>
            <br><br>
            <div class="table-section"></div>
        </div>
    </div>
</section>

{% endblock content %}