{% extends 'base.html' %} {% block content %}{% load static %}
<section>
    <div class="row">
        <div class="col-2 mh-100" id="side-panel">
            {% if user.is_authenticated %}
            <div class="profile-img-div fluid">
                {% if profile_photo %} {% for photo in profile_photo %}
                <img src="../media/{{photo.user_profile_img}}" alt="Your Profile Image"> {% endfor %} {% else %}
                <img src="{% static 'images/profile.jpg' %}" alt="Profile Image"> {% endif %}
                <p class="welcome-text pb-0 mb-0">Hi, welcome back!</p>
                <p class="username">{{user.user_title}}. {{user.first_name}}</p>
            </div>
            <div class="signout-btn-div fluid">
                <a href="logout" class="btn btn-sm"><i class="fal fa-power-off"></i>&nbsp Log out</a>
            </div>
            {% else %}
            <div class="profile-img-div fluid">
                <img src="{% static 'images/profile.jpg' %}" alt="Profile Image">
                <p class="welcome-text pb-0 mb-0">Please log in to continue.</p>
            </div>
            <div class="signin-btn-div fluid">
                <a href="/" class="btn btn-sm"><i class="fal fa-sign-in-alt"></i>&nbsp Log in</a>
            </div>
            {% endif %}
            <br>
            <hr>
            <ul class="menu-links">
                {% if user.is_authenticated %}
                <li class="active-link"><a href="."><i class="fal fa-home-lg-alt"></i>&nbsp&nbsp Home</a></li>
                {% if user.is_superuser %}
                <button class="dropdown-btn"><i class="fal fa-sliders-h"></i>&nbsp&nbsp Manage<span class="float-right"><i class="fal fa-chevron-down"></i></span></button>
                <div class="dropdown-container">
                    <li><a href="../hall">&nbsp;<i class="fal fa-building fa-lg"></i>&nbsp;&nbsp; Lecture Halls</a></li>
                    <li><a href="../subject">&nbsp;<i class="fal fa-book fa-lg"></i>&nbsp;&nbsp; Subjects</a></li>
                    <li><a href="../users"><i class="fal fa-users fa-lg"></i>&nbsp;&nbsp; Lecturers</a></li>
                </div>
                {% endif %}
                <li><a href="../profile"><i class="fal fa-user-alt"></i>&nbsp&nbsp My Account</a></li>
                {% endif %}
                <li><a href="../help"><i class="fal fa-question-circle"></i>&nbsp&nbsp Help</a></li>
            </ul>
        </div>
        <div class="col-10 py-5 px-5" id="main-panel">
            <div class="main-panel-title">
                <div class="row justify-content-between">
                    <div class="col-4">
                        <h4>Home</h4>
                        <small class="text-muted">Generate Time-Tables</small>
                    </div>
                    <div class="col-3 text-center right-padding-zero-cols">
                        {% if user.is_authenticated %}
                        <div class="alert alert-info mb-4">
                            {% if user.is_superuser %}
                            <strong>Your Role : ADMIN </strong> {% else %}
                            <strong>Your Role : GUEST </strong> {% endif %}
                        </div>
                        {% else %}
                        <div class="alert alert-danger mb-4">
                            Please log in to continue
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="section-div container px-5 pb-2 pt-4">
                {% if user.is_authenticated %}
                <form action="./table/" method="POST">
                    {% csrf_token %}
                    <div class="generate-msg text-center">
                        <h2 class="font-opensans">Hello, {{user.first_name}}!</h2>
                        <p class="font-opensans mt-3 text-secondary" style="font-size: 14.5px;">
                            Welcome to the Automated Lecturers' Time-table Generator web platform. This is a web-based platform which mainly allows you to generate time-tables for the lecturers instantly without wasting time. You also allowed to view and download generated time-tables.
                            You can find the options in the left side panel for manage users, subjects, lecture halls and also access your profile.
                        </p>
                        <p class="font-opensans mb-4 text-secondary" style="font-size: 14.5px;">
                            Let's get started. Select the lecturer's name from the below <span class="badge badge-secondary">Select List</span> and click the
                            <span class="badge badge-secondary">Generate</span> button to see the result.
                        </p>
                    </div>
                    <div class="text-center w-50 mx-auto">
                        <select class="form-control form-control-sm mb-3" name="selected_lecturer">
                            <option value="">--- Select the lecturer ---</option>
                            {% for user in lecturer_names %}
                            <option value="{{user.lecturer_code}}">{{user.user_title}}. {{user.lecturer_name}}</option>
                            {% endfor %}
                        </select>
                        <input type="submit" class="btn px-4 submit_btn bg-success" value="Generate" />
                    </div>
                    <p class="text-center mt-3"><span class="text-muted ml-3" style="font-size: 12px;"><i>NOTE: Currently this is available for Department of Computing & Information Systems only.</i></span></p>
                </form>
                {% else %}
                <div class="error-msg-div my-5 text-center">
                    <p class="text-danger mb-4"><i class="fal fa-exclamation-triangle fa-5x"></i></p>
                    <p class="text-danger font-opensans">You are not logged in. Please log in <a href="/">here</a>.</p>
                </div>
                {% endif %}
            </div>
            <br> {% if user.is_authenticated %}
            <div class="table-section section-div container px-1 py-4">
                <div class="row justify-content-between generated-result align-items-center" style="font-size: 15px;">
                    <div class="col-md-8 result_text">
                        <div class="row align-items-center">
                            <div class="col-md-1 result-icon"><i class="fal fa-calendar-alt fa-2x"></i></div>
                            <div class="col-md-11">Generated lecture schedule for <span class="result_lec_name">{{user.lecturer_name}} ({{user.lecturer_code}})</span></div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <button type="button" class="btn btn-sm option-btn bg-primary font-opensans" data-toggle="modal" data-target="#staticBackdrop"><i class="fal fa-expand"></i>&nbsp View</button> &nbsp;
                        <button type="button" class="btn btn-sm option-btn bg-secondary font-opensans"><i class="fal fa-save"></i>&nbsp; Save</button> &nbsp;
                        <button type="button" class="btn btn-sm option-btn font-opensans"><i class="fal fa-download"></i>&nbsp; Download</button>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>

<!--Time-Table Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-opensans" id="staticBackdropLabel"> Generated Lecture Schedule</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fal fa-times-circle text-danger"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-div">
                    <table class="table table-bordered table-hover">
                        <thead class="text-center bg-dark text-white">
                            <th>Time</th>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="font-italic bg-light align-middle">8.00 A.M. - 10.00 A.M</td>
                                <td>Hall 1<br><small>Subject Name</small></td>
                                <td>Hall 2<br><small>Subject Name</small></td>
                                <td>Hall 3<br><small>Subject Name</small></td>
                                <td>Hall 4<br><small>Subject Name</small></td>
                                <td>Hall 5<br><small>Subject Name</small></td>
                            </tr>
                            <tr>
                                <td class="font-italic bg-light align-middle">10.00 A.M. - 12.00 A.M</td>
                                <td>Hall 1<br><small>Subject Name</small></td>
                                <td>Hall 2<br><small>Subject Name</small></td>
                                <td>Hall 3<br><small>Subject Name</small></td>
                                <td>Hall 4<br><small>Subject Name</small></td>
                                <td>Hall 5<br><small>Subject Name</small></td>
                            </tr>
                            <tr class="text-muted bg-light align-middle">
                                <td class="font-italic">12.00 A.M. - 1.00 P.M</td>
                                <td colspan="5" class="text-center">Lunch Time</td>
                            </tr>
                            <tr>
                                <td class="font-italic bg-light align-middle">1.00 P.M. - 3.00 P.M</td>
                                <td>Hall 1<br><small>Subject Name</small></td>
                                <td>Hall 2<br><small>Subject Name</small></td>
                                <td>Hall 3<br><small>Subject Name</small></td>
                                <td>Hall 4<br><small>Subject Name</small></td>
                                <td>Hall 5<br><small>Subject Name</small></td>
                            </tr>
                            <tr>
                                <td class="font-italic bg-light align-middle">3.00 P.M. - 5.00 P.M</td>
                                <td>Hall 1<br><small>Subject Name</small></td>
                                <td>Hall 2<br><small>Subject Name</small></td>
                                <td>Hall 3<br><small>Subject Name</small></td>
                                <td>Hall 4<br><small>Subject Name</small></td>
                                <td>Hall 5<br><small>Subject Name</small></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}