{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Lecturer Time Table Generator</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Bhathiya Kariyawasam">
    <meta name="keywords" content="Automated Time Table Generator">
    <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.png' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.12.1/css/all.css">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
    <!-- Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>

<body style="background-color: #666666;">

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form-div">
                    <div class="login100-form-div-content">
                        <span class="login100-form-title pb-4">
                            <i class="fad fa-user-circle fa-4x" style="color: #6675df;"></i>
                        </span>
                        <form class="login100-form validate-form" action="." method="POST">
                            {% csrf_token %}
                            <div class="wrap-input100 validate-input" data-validate="Username is required">
                                <input class="input100" type="text" name="username" placeholder="Username">
                            </div>
                            <div class="wrap-input100 validate-input" data-validate="Password is required">
                                <input class="input100" type="password" name="password" placeholder="Password">
                            </div>
                            <br>
                            <div class="container-login100-form-btn mb-4">
                                <input class="login100-form-btn" type="submit" value="Login">
                            </div>
                        </form>
                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %} {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                            <div class="alert {{message.tags}} alert-dismissable mb-4" role="alert" style="font-size: 13px; font-family: 'Open Sans';">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <i class="far fa-check-circle fa-lg"></i>&nbsp; {{message}}
                            </div>
                            {% else %}
                            <div class="alert {{message.tags}} alert-dismissable mb-4" role="alert" style="font-size: 13px; font-family: 'Open Sans';">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <i class="far fa-times-circle fa-lg"></i>&nbsp; {{message}}
                            </div>
                            {% endif %} {% endfor%}
                        </ul>
                        {% endif %}
                        <div class="text-center">
                            <a href="../verify" class="txt3">Forgot Password?</a>
                        </div>
                    </div>
                </div>
                <div class="login100-more" style="background-color:#3b5898;background-image: url('../static/images/login.png'); ">
                    <div class="login-title">
                        <h2 class="p-5">Automated Lecture Schedules Generator</h2>
                    </div>
                    <div class="department-name px-5 py-3">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-md-2 text-left"><img src="{% static 'images/cis.png' %}" alt="CIS Logo" width="80%"></div>
                            <div class="col-md-7 text-right"><small>Department of Computing & information Systems, SUSL.</small></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Jquery JS-->
    <script src="{% static 'vendor/jquery/jquery-3.4.1.min.js' %}"></script>
    <!-- Vendor JS-->
    <script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/select2/select2.min.js' %}"></script>
    <script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
    <script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
    <!-- Main JS-->
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>