{% extends 'base.html' %} {% block content %} {% load static %}
<section>
    <div class="row">
        <div class="col-2 mh-100" id="side-panel">
            {% if user.is_authenticated %}
            <div class="profile-img-div fluid">
                {% if profile_photo %} {% for photo in profile_photo %}
                <img src="../media/{{photo.user_profile_img}}" alt="Your Profile Image"> {% endfor %} {% else %}
                <img src="{% static 'images/profile.jpg' %}" alt="Profile Image"> {% endif %}
                <p class="welcome-text pb-0 mb-0">Hi, welcome back!</p>
                <p class="username">{{user.user_title}}. {{user.first_name}}</p>
            </div>
            <div class="signout-btn-div fluid">
                <a href="logout" class="btn btn-sm"><i class="fal fa-power-off"></i>&nbsp Log out</a>
            </div>
            {% else %}
            <div class="profile-img-div fluid">
                <img src="{% static 'images/profile.jpg' %}" alt="Profile Image">
                <p class="welcome-text pb-0 mb-0">Please log in to continue.</p>
            </div>
            <div class="signin-btn-div fluid">
                <a href="/" class="btn btn-sm"><i class="fal fa-sign-in-alt"></i>&nbsp Log in</a>
            </div>
            {% endif %}
            <br>
            <hr>
            <ul class="menu-links">
                {% if user.is_authenticated %}
                <li><a href="../home"><i class="fal fa-home-lg-alt"></i>&nbsp&nbsp Home</a></li>
                {% if user.is_superuser %}
                <button class="dropdown-btn"><i class="fal fa-sliders-h"></i>&nbsp&nbsp Manage<span class="float-right"><i class="fal fa-chevron-down"></i></span></button>
                <div class="dropdown-container">
                    <li><a href="../hall">&nbsp;<i class="fal fa-building fa-lg"></i>&nbsp;&nbsp; Lecture Halls</a></li>
                    <li><a href="../subject">&nbsp;<i class="fal fa-book fa-lg"></i>&nbsp;&nbsp; Subjects</a></li>
                    <li><a href="../users"><i class="fal fa-users fa-lg"></i>&nbsp;&nbsp; Lecturers</a></li>
                </div>
                {% endif %}
                <li class="active-link"><a href="."><i class="fal fa-user-alt"></i>&nbsp&nbsp My Account</a></li class="active-link">
                {% endif %}
                <li><a href="../help"><i class="fal fa-question-circle"></i>&nbsp&nbsp Help</a></li>
            </ul>
        </div>
        <div class="col-10 py-5 px-5" id="main-panel">
            <div class="main-panel-title">
                <div class="row justify-content-between">
                    <div class="col-4">
                        <h4>User Profile</h4>
                        <small class="text-muted">Customize your profile details</small>
                    </div>
                    <div class="col-3 text-center right-padding-zero-cols">
                        {% if user.is_authenticated %}
                        <div class="alert alert-info mb-4">
                            {% if user.is_superuser %}
                            <strong>Your Role : ADMIN </strong> {% else %}
                            <strong>Your Role : GUEST </strong> {% endif %}
                        </div>
                        {% else %}
                        <div class="alert alert-danger mb-4">
                            Please log in to continue
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="section-div container p-4" id="profile-section">
                {% if messages %}
                <ul class="messages mb-4">
                    {% for message in messages %} {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert {{message.tags}} alert-dismissable" role="alert" style="font-size: 13.5px; font-family: 'Open Sans';">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                        <i class="far fa-check-circle fa-lg"></i>&nbsp; <b>{{message}}</b>
                    </div>
                    {% else %}
                    <div class="alert {{message.tags}} alert-dismissable" role="alert" style="font-size: 13.5px; font-family: 'Open Sans';">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                        <i class="far fa-times-circle fa-lg"></i>&nbsp; <b>{{message}}</b>
                    </div>
                    {% endif %} {% endfor%}
                </ul>
                {% endif %} {% if user.is_authenticated %}
                <form action="." method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-4 left-padding-zero-cols profile_image text-center">
                            <label for="id_user_profile_img" class="m-0">
                            {% if profile_photo %}
                                {% for photo in profile_photo %}
                                    <img src="../media/{{photo.user_profile_img}}" alt="Your Profile Image" id="prof_img">
                                {% endfor %}
                            {% else %}
                            <img src="{% static 'images/profile.jpg' %}" alt="Profile Image">
                            {% endif %}
                            </label> {{profile_update_form.user_profile_img}}
                            <div class="profile_image_bottom_div py-2 mt-2">
                                <small id="imageHelp" class="form-text text-muted m-0"><i>Click on the image to upload new one.</i></small>
                            </div>
                        </div>
                        <div class="col-md-8 non-padding-cols">
                            <div class="row">
                                <div class="col-md-6 left-padding-zero-cols">
                                    <div class="form-group">
                                        <label for="first_name">First Name</label>{{user_update_form.first_name}}
                                    </div>
                                </div>
                                <div class="col-md-6 non-padding-cols">
                                    <div class="form-group">
                                        <label for="last_name">Last Name</label>{{user_update_form.last_name}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 non-padding-cols">
                                    <div class="form-group">
                                        <label for="first_name">Name with Initials</label>{{user_update_form.lecturer_name}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 non-padding-cols">
                                    <div class="form-group">
                                        <label for="email">Email</label>{{user_update_form.email}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 left-padding-zero-cols">
                                    <div class="form-group">
                                        <label for="username">Lecturer Code</label>{{user_update_form.lecturer_code}}
                                    </div>
                                </div>
                                <div class="col-md-6 non-padding-cols">
                                    <div class="form-group">
                                        <label for="username">Username</label>{{user_update_form.username}}
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="save-btn-div text-right">
                                {{user_update_form.id}}
                                <input type="submit" class="btn px-4 submit_btn" value="Save Updates" />
                            </div>
                        </div>
                    </div>
                </form>
                {% else %}
                <div class="error-msg-div my-5 text-center">
                    <p class="text-danger mb-4"><i class="fal fa-exclamation-triangle fa-5x"></i></p>
                    <p class="text-danger font-opensans">You are not logged in. Please log in <a href="/">here</a>.</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                document.getElementById('prof_img').setAttribute('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    document.getElementById('id_user_profile_img').addEventListener("change", function() {
        readURL(this);
    });
</script>
{% endblock content %}