{% extends 'base.html' %} {% block content %} {% load static %}
<section>
    <div class="row">
        <div class="col-2 mh-100" id="side-panel">
            <div class="profile-img-div fluid">
                <img src="{% static 'images/profile.jpg' %}" alt="Profile Image">
                <p class="welcome-text pb-0 mb-0">Hi, welcome back!</p>
                {% if user.is_authenticated %}
                <p class="username">Mr. {{user.first_name}}</p>
                {% endif %}
            </div>
            <div class="signout-btn-div fluid">
                <a href="logout" class="btn btn-sm"><i class="fas fa-power-off"></i>&nbsp Log out</a>
            </div>
            <br>
            <hr>
            <ul class="menu-links">
                <li><a href="../home"><i class="fas fa-home"></i>&nbsp&nbsp Home</a></li>
                {% if user.is_superuser %}
                <button class="dropdown-btn active-link"><i class="fas fa-plus"></i>&nbsp&nbsp Add <span class="float-right"><i class="fas fa-chevron-down"></i></span></button>
                <div class="dropdown-container">
                    <li><a href="../hall"><i class="fas fa-building fa-lg"></i>&nbsp&nbsp New Hall</a></li>
                    <li class="active-link"><a href="."><i class="fas fa-book fa-lg"></i>&nbsp&nbsp New Subject</a></li>
                    <li><a href="../register"><i class="fas fa-user fa-lg"></i>&nbsp&nbsp New Lecturer</a></li class="active-link">
                </div>
                {% endif %}
                <li><a href="../profile"><i class="fas fa-user-alt"></i>&nbsp&nbsp My Account</a></li>
                <li><a href="../help"><i class="fas fa-question"></i>&nbsp&nbsp Help</a></li>
            </ul>
        </div>
        <div class="col-10 py-5 px-5" id="main-panel">
            <div class="main-panel-title">
                <div class="row justify-content-between">
                    <div class="col-4">
                        <h4>Subject</h4>
                        <small class="text-muted">Manage added subjects</small>
                    </div>
                    <div class="col-3 text-center right-padding-zero-cols">
                        {% if user.is_authenticated %}
                        <div class="alert alert-info mb-4">
                            {% if user.is_superuser %}
                            <strong>User Role : ADMIN </strong> {% else %}
                            <strong>User Role : GUEST </strong> {% endif %}
                        </div>
                        {% else %}
                        <div class="alert alert-danger mb-4">
                            Please log in to continue
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <br>
            <div class="section-div container py-5 px-5">
                <form action="." method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-4 left-padding-zero-cols">
                            <div class="form-group">
                                <label for="exampleInputName">Subject Code</label>{{subject_form.subject_code}}
                            </div>
                        </div>
                        <div class="col-md-8 non-padding-cols">
                            <div class="form-group">
                                <label for="exampleInputName">Subject Name</label>{{subject_form.subject_name}}
                            </div>
                        </div>
                        <div class="col-md-3 left-padding-zero-cols">
                            <div class="form-group">
                                <label for="exampleSelect">Related Batch</label>{{subject_form.related_batch}}
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="save-btn-div text-right">
                        <input type="submit" class="btn px-4 submit_btn" value="Add Subject">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}