{% extends 'base.html' %} {% block content %} {% load static %}
<section class="p-5">
    <div class="form-data-div w-25">
        <h5 class="font-weight-bold mb-3">Entered input data</h5>
        <table class="table table-borderless table-sm text-sm-left">
            <tbody>
                <tr>
                    <td class="text-muted">Lecturer Name<span class="float-right">:</span></td>
                    <td>{{name}}</td>
                </tr>
                <tr>
                    <td class="text-muted">Batch<span class="float-right">:</span></td class="text-muted">
                    <td>{{batch}} Year</td>
                </tr>
                <tr>
                    <td class="text-muted">Hall<span class="float-right">:</span></td>
                    <td>{{hall}}</td>
                </tr>
                <tr>
                    <td class="text-muted">Subject<span class="float-right">:</span></td>
                    <td>{{subject}}</td>
                </tr>
                <tr>
                    <td class="text-muted">Number of Students<span class="float-right">:</span></td>
                    <td>{{std_no}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div class="table-div">
        <h5 class="font-weight-bold mb-4">Generated Time Table</h5>
        <table class="table table-bordered table-hover">
            <thead class="text-center bg-dark text-white">
                <th>Time</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
            </thead>
            <tbody>
                <tr>
                    <td class="font-italic bg-light align-middle">8.00 A.M. - 10.00 A.M</td>
                    <td>Hall 1<br><small>Subject Name</small></td>
                    <td>Hall 2<br><small>Subject Name</small></td>
                    <td>Hall 3<br><small>Subject Name</small></td>
                    <td>Hall 4<br><small>Subject Name</small></td>
                    <td>Hall 5<br><small>Subject Name</small></td>
                </tr>
                <tr>
                    <td class="font-italic bg-light align-middle">10.00 A.M. - 12.00 A.M</td>
                    <td>Hall 1<br><small>Subject Name</small></td>
                    <td>Hall 2<br><small>Subject Name</small></td>
                    <td>Hall 3<br><small>Subject Name</small></td>
                    <td>Hall 4<br><small>Subject Name</small></td>
                    <td>Hall 5<br><small>Subject Name</small></td>
                </tr>
                <tr class="text-muted bg-light align-middle">
                    <td class="font-italic">12.00 A.M. - 1.00 P.M</td>
                    <td colspan="5" class="text-center">Lunch Time</td>
                </tr>
                <tr>
                    <td class="font-italic bg-light align-middle">1.00 P.M. - 3.00 P.M</td>
                    <td>Hall 1<br><small>Subject Name</small></td>
                    <td>Hall 2<br><small>Subject Name</small></td>
                    <td>Hall 3<br><small>Subject Name</small></td>
                    <td>Hall 4<br><small>Subject Name</small></td>
                    <td>Hall 5<br><small>Subject Name</small></td>
                </tr>
                <tr>
                    <td class="font-italic bg-light align-middle">3.00 P.M. - 5.00 P.M</td>
                    <td>Hall 1<br><small>Subject Name</small></td>
                    <td>Hall 2<br><small>Subject Name</small></td>
                    <td>Hall 3<br><small>Subject Name</small></td>
                    <td>Hall 4<br><small>Subject Name</small></td>
                    <td>Hall 5<br><small>Subject Name</small></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

{% endblock content %}